#canvas {
    width: 1000px;
    height: 800px;
}

.two-columns {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.controlPanel {
    padding: 5px;
}

#gottenUrl {
    text-wrap: wrap;
}