#canvas {
    /* width: 100vw;
    height: 100vw; */
    margin-left: calc(50% - 50vw);
    margin-top: calc(50% - 50vw);
}

.two-columns {
    /* display:flex;
    flex-wrap:wrap;
    flex-direction:row; */
}

.controlPanel {
    padding: 5px;
}

#gottenUrl {
    inline-size: min-content;
    text-wrap: wrap;
    overflow-wrap: break-all;
}